@using SportsRidingClubSkovly.Web.Abstractions.Enums
<EditForm Model="CreateSessionViewModel" OnValidSubmit="CreateSession" FormName="CreateSessionForm">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label>Start Time & Date</label>
        <input @bind-value="CreateSessionViewModel.StartTime"
               type="datetime-local"
               class="form-control"/>
    </div>
    <div class="mb-3">
        <label>End Time</label>
        <input @bind-value="CreateSessionViewModel.EndTimeOnly"
               type="time"
               class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Assign Trainer</label>
        <InputSelect @bind-Value="CreateSessionViewModel.AssignedTrainerId" class="form-control" placeholder="Assigned Trainer">
            <option checked="@(CreateSessionViewModel.AssignedTrainerId == Guid.Empty)" value="">Test Trainer</option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label>Maximum Number of Participants</label>
        <InputNumber @bind-Value="CreateSessionViewModel.MaxNumberOfParticipants" class="form-control" placeholder="Max Participants"/>
        <ValidationMessage For="() => CreateSessionViewModel.MaxNumberOfParticipants"/>
    </div>
    <div class="mb-3">
        <label>Set Difficulty Level</label>
        <InputSelect @bind-Value="CreateSessionViewModel.DifficultyLevel" class="form-control">
            <option checked="@(CreateSessionViewModel.DifficultyLevel == SkillLevel.Beginner)"
                    value="@SkillLevel.Beginner">
                Beginner
            </option>
            <option checked="@(CreateSessionViewModel.DifficultyLevel == SkillLevel.Novice)"
                    value="@SkillLevel.Novice">
                Novice
            </option>
            <option checked="@(CreateSessionViewModel.DifficultyLevel == SkillLevel.Intermediate)"
                    value="@SkillLevel.Intermediate">
                Intermediate
            </option>
            <option checked="@(CreateSessionViewModel.DifficultyLevel == SkillLevel.Advanced)"
                    value="@SkillLevel.Advanced">
                Advanced
            </option>
            <option checked="@(CreateSessionViewModel.DifficultyLevel == SkillLevel.Expert)"
                    value="@SkillLevel.Expert">
                Expert
            </option>
            <option checked="@(CreateSessionViewModel.DifficultyLevel == SkillLevel.Professional)"
                    value="@SkillLevel.Professional">
                Professional
            </option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label>Set Session Type</label>
        <InputSelect @bind-Value="CreateSessionViewModel.Type" class="form-control">
            <option aria-checked="@(CreateSessionViewModel.Type == SessionType.Dressage)"
                    value="@SessionType.Dressage">
                Dressage
            </option>
            <option aria-checked="@(CreateSessionViewModel.Type == SessionType.Show_Jumping)"
                    value="@SessionType.Show_Jumping">
                Show Jumping
            </option>
        </InputSelect>
    </div>
</EditForm>

@code {

}