@rendermode InteractiveServer 
@page "/Profile"
@using SportsRidingClubSkovly.Web.Components.Tables
@using SportsRidingClubSkovly.Web.DTO.UserManagement

@if (User is null)
{
    
}
else
{
    <div>
        <h3 style="float: left">@User.FirstName @User.LastName</h3>
        @if (IsSaving)
        {
            <button style="float: right" disabled="disabled" class="btn btn-primary">
                <i class="fa fa-refresh fa-spins"></i>
            </button>
        }
        else
        {
            <button style="float: right" class="btn btn-primary" type="button" @onclick="IsEditingProfile ? SaveProfile : EditProfile">@(IsEditingProfile ? "Save" : "Edit")</button>
        }
    </div>
    
    <div style="clear: both" /> 
    
    <p class="InputTitle">Email</p>
    <input type="email" disabled="@(!IsEditingProfile)" @bind="Email" />
    
    <p class="InputTitle">Phone</p>
    <input type="text" disabled="@(!IsEditingProfile)" @bind="Phone" />
    

    <hr />

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h4>Bookings</h4>
        <a class="btn btn-primary" href="http://localhost:5000/browseSessions">Book</a>
    </div>
    @if (User.Bookings.Any())
    {
        <UserBookingView Bookings="User.Bookings" />
    }
    else
    {
        <div class="alert alert-dark w-100 text-center">
            You don't have any bookings
        </div>
    }
}