@page "/Profile/{UserId:guid}"
@using SportsRidingClubSkovly.Web.Components.Tables
@using SportsRidingClubSkovly.Web.DTO.UserManagement
@rendermode InteractiveServer

@if (User is null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h3 style="float: left">@User.FirstName @User.LastName</h3>
        @if (IsSaving)
        {
            <button disabled="disabled" class="Loading">
                <i class="fa fa-refresh fa-spins"></i>
            </button>
        }
        else
        {
            <button class="EditBtn btn-primary" type="button" @onclick="IsEditingProfile ? SaveProfile : EditProfile">@(IsEditingProfile ? "Save" : "Edit")</button>
        }
    </div>
    <div style="clear: both" /> 
    
    <p class="InputTitle">Email</p>
    <input type="email" disabled="@(!IsEditingProfile)" @bind="Email" />
    
    <p class="InputTitle">Phone</p>
    <input type="text" disabled="@(!IsEditingProfile)" @bind="Phone" />
    

    <hr />

    <h4 style="margin-bottom: 20px">Bookings</h4>
    
    <UserBookingView Bookings="User.Bookings" />
    
    @* <GenericTable Data="User.Bookings" /> *@
    
    @* <div class="modal @(IsEditingProfile ? "show" : "")" tabindex="-1" style="display: @(IsEditingProfile ? "block" : "none")"> *@
    @*     <div class="modal-dialog"> *@
    @*         <div class="modal-content"> *@
    @*             <div class="modal-header"> *@
    @*                 <h5 class="modal-title">Edit profile</h5> *@
    @*                 <button type="button" class="btn-close" aria-label="Close" @onclick="CloseEditProfile"></button> *@
    @*             </div> *@
    @*             <div class="modal-body"> *@
    @*                  *@
    @*             </div> *@
    @*             <div class="modal-footer"> *@
    @*                 <button type="submit" class="btn btn-primary" @onclick="SaveProfile">Save</button> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
