@using SportsRidingClubSkovly.Web.Extensions

@inherits SessionCardBase

<div class="col">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title"<b>@Session.Type.ReplaceUnderscores()</b></h5>
            <p class="card-text"><b>Date</b>: @Session.StartTime.ToString("dd/MM/yyyy")</p>
            <p class="card-text"><b>Start Time</b>: @Session.StartTime.ToString("hh:mm")</p>
            <p class="card-text"><b>Duration</b>: @Session.Duration.ToString()</p>
            <p class="card-text"><b>Difficulty Level</b>: @Session.DifficultyLevel</p>
            <a href="/Session/{@Session.Id}" class="btn btn-primary">See Details</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary"><b>Trainer</b>: @Session.AssignedTrainer.User.Firstname @Session.AssignedTrainer.User.Lastname</small>
        </div>
    </div>
</div>